<!--<main id="main" class="main">
  <div class="pagetitle">
    <h1>Energy Dashboard</h1>
  </div>

  <section class="section dashboard ">
    <div class="row">
      <div class="col-lg-8">
        <h1>
          {{title}}
        </h1>
        <fusioncharts type="column2d"
                      width="100%"
                      height="400"
                      dataFormat="json"
                      [dataSource]="dataSource">
        </fusioncharts>
      </div>
    </div>
  </section>
</main>-->
